@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* RESET */

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Open Sans', sans-serif;
    }

/*HOME PAGE*/
/*HEADER*/

header{
    background-color: white;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    padding: 20px 80px 20px 80px;
    z-index: 100;
    
}

.logo{
    width: 63px;
    
}

.navbar navbar-expand-lg{
    background-color: white;
    
}

.navbar-nav {
    display: flex;
    width: 100%;
    justify-content: end; 
    }



.linkedin{
    width: 32px;
    margin-left: 10px;

}

.linkedin:hover{
    filter:opacity(50%)
}

/*HOME PAGE*/
/* MAIN */
/*FIRST SECTION*/

.hero-section{
    /* GRID */
    width: 100%;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    padding: 10px 80px 0px 90px;    
}


.grid-hero-text{
    margin-top: 85px;
    width: 100%;
}

h1{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-bottom: 20px;   
}

.hero-section p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 30px;
}

.hero-section a{
    text-decoration: underline;
    color: black;
}

.grid-hero-image{
    width: 100%;
    height: 100%;
    text-align: center;
}

.grid-hero-text a:hover{
    color: rgb(210, 210, 210);
}


/*HOME PAGE*/
/*SEGUNDA SECTION FEATURES PROJECTS*/

.features-projects-grid{
    /* GRID */ 
    width: 100%;   
    display: grid;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    padding: 130px 80px 10px 80px;   
}

.text-grid{
    width: 100%;
}

h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.text-grid h3{    
    font-size: 25px;
    margin-bottom: 10px;
}

.features-projects-grid p{   
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}

.features-projects-grid a{
    text-decoration: underline;
    color: darkslategray;
}

.features-projects-grid a:hover{
    color: rgb(210, 210, 210);
}

.features-projects-grid div image{
    width: 100%;
    height: 100%;
}


.image-grid{
    width: 100%;
    text-align: center;
}

/*HOME PAGE*/
/*OTHER WORK SECTION*/

.other-work{
    text-align: center;

}

.other-work-carrusel{
    margin: 0px 0px 100px 0px
}


/*FOOTER*/

footer{
    background-color: black;
    padding: 80px;
}

.footer-flex{
    display:flex;   
    
}


footer ul{
    padding: 0px;

}

footer nav ul li a{    
    text-decoration: none;
    color: white;  
}

footer nav ul li{
    display: inline-block;
    margin-right: 10px;
}

footer nav ul li:hover{
    filter: opacity(50%);

}

.logo-footer{
    width: 50px;
    margin-bottom: 15px;
}



/*PORTFOLIO  PAGE*/

.portfolio-herotext{
    margin: 80px;
    text-align: center;
}

.portfolio-text p{
    padding: 0px 300px 0px 300px;
}

.grid-portfolio{
    width: 100%;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;   
}

.grid-portfolio div img{
    width: 100%;
    height: 100%;
}

.grid-image:hover{
    filter: opacity(.5)

}



/*ABOUT ME PAGE*/

.flex-container{
    display: flex;
    padding: 30px 80px 40px 80px;
    margin-bottom: 50px;
    justify-content: space-between;

}

.photo{
    width: fit-content;

}

.photo img{    
    width: 500px;    
}

.resume-button{
    margin-top: 20px;
    color: black;
    display: block;
}

.my-info{
    width: 100%;
    padding-left: 50px ;
}

.list-about-me{
    list-style: none;
    padding-left: 0px;
    font-weight: bold;
    margin-top: 50px;
}

.list-about-me li{
    line-height: 26px;
    
}

.more-info{
    display: flex;
    padding: 30px 80px 40px 80px;
    justify-content: space-between;
    margin-bottom: 100px;

}

.more-info a:hover{
    color: gray;
}

.list-extra-info{
    list-style: none;
    padding-left: 0px;
}

.skill{
    display: block;
    color: white;
    border-radius: 28px;
    background-color: black;
    padding: 8px 15px 8px 15px;
    margin: 0px 8px 8px 0px ;
    width: fit-content;

}

.skills-container{
    display: flex
}

/*CONTACT PAGE*/

.content-flex{
    display: flex;
    padding: 30px 80px 40px 80px;
    justify-content: space-between;
}

.info{ 
    width: 40%;
    
}


.mb-3{
    margin-top: 100px;
    width: 50%;
}

#exampleFormControlInput1{  
    margin-bottom: 10px;
}

.form-control{
    width: 70%;
}

/*PROJECTS PAGES*/

.title{
    padding: 30px 80px 10px 80px; 

}

.portfolio-project{   
    padding: 30px 80px 40px 80px; 
    text-align: center;
}

.hero-banner{
    width: 100%;
}

.hero-banner img{
    width: 100%;
    margin-bottom: 50px;
}

.other-projects{
    display: flex;
    padding: 10px 80px 60px 80px; 
    width: 100%;
    justify-content: space-around;

}

.other-projects img{
    width:290px;
}

.feature:hover{filter: blur(5px)

}


/*MEDIA QUERY*/

@media screen and (max-width:1200px) {
/*HOME 1200px*/
/* NAV BAR 1200px */
    .navbar-nav {
        font-size: 20px;
        }

    .linkedin{
            width: 46px;   
        }

/*HERO SECTION 1200px*/    
    
    .hero-section p{
        font-size: 20px;

    }

    .hero-section a{
        font-size: 18px;
    }  
    


/* FEATURES SECTION 1200px*/

    .features-projects-grid{
        padding: 80px 80px 80px 80px;
        grid-template-rows: max-content;
        grid-template-columns: 1fr; 
        
    }

    .text-grid h2{
        font-size: 16px;
    }

    .text-grid p{
        font-size: 16px;
    }

    
/* FEATURES SECTION 1200px*/

    

/*FOOTER 1200 px*/

    footer nav ul li a{    
        font-size: 20px; 
    }


    
/*PORTFOLIO PAGE 1200px*/

.portfolio-text h2{
    font-size: 26px;
}

.portfolio-text p{
    padding: 0px 50px 0px 50px;
    font-size: 20px;
}

.grid-portfolio{  
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;   
}



    
}

/*850 PX*/
/* HOME*/
@media screen and (max-width:850px){

.hero-section{
    grid-template-columns: 1fr;

}

.grid-hero-text{
    margin-top: 40px;
}

.other-work{
    font-size: 16px;
}





/*850 PX*/
/* PORTFOLIO PAGE*/



    .grid-portfolio{  
        grid-template-columns: 1fr;     
        row-gap: 10px;   
    }

    .portfolio-herotext{
        margin: 50px;
    }
    
}

/*620PX*/

@media screen and (max-width:620px){

    .hero-section{
        padding: 10px 50px 0px 50px;
        text-align: center;
    }

    .grid-hero-text{
        margin-top: 20px;
    }

    h1{
        line-height: normal;
    }

    .grid-hero-image img{
        width: 80%;
        margin-top: 30px;
    }

    .features-projects-grid{
        padding: 40px;
        text-align: center;    

    }

    .features-projects-grid div img{
        width: 80%;
    }


    .footer-flex{
        display:block;
        grid-template-rows: 40px;          
    }

    footer {
        padding: 50px 50px 50px 50px;
    }

    .linkedin{
        margin-left: 0px;
    }

    
}

/*570PX*/

@media screen and (max-width: 571px){
    footer nav ul li a{    
        font-size: 18px; 
    }

    .portfolio-herotext{
        margin: 30px;
    }


}

/*446PX*/

@media screen and (max-width: 447px){


    h1{
        font-size: 50px;
    }


    footer nav ul li a{    
        font-size: 13px; 
    }   

}
    
