@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* RESET */

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Open Sans', sans-serif;
    }

/*HOME PAGE*/
/*HEADER*/

header{
    background-color: white;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    padding: 20px 80px 20px 80px;   
}

.logo{
    width: 63px;
}

.hero-nav{
    display: flex;
    justify-content: space-between;
    }

nav ul{
    list-style: none;
    }

header nav ul li{
    display: inline-block;
    margin-right: 40px;

}

header nav ul li a{
    text-decoration: none;
    color: black;
        
}

.hero-nav ul li a:hover{
    color: gray;
}

.hero-nav ul li a:active{
    color: gray;
}

.linkedin{
    width: 32px;

}

/* MAIN */

/*PRIMERA SECTION*/

.hero-section{
    margin-bottom: 50px;
    /* GRID */
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 40px;
    margin: 80px 80px 0px 80px;    
}

.grid-herotext{
    margin-top: 85px;
    width: 100%;
}

.grid-heroimage{
    width: 100%;
}

h1{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-bottom: 20px;   
}

.hero-section p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 30px;
}

.hero-section a{
    text-decoration: underline;
    color: black;
}

/*SEGUNDA SECTION FEATURES PROJECTS*/

.features-projects-grid{
    /* GRID */
    display: grid;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    margin: 130px 80px 10px 80px;   
}

.text-grid{
    width: 100%;
}

h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.text-grid h3{    
    font-size: 25px;
    margin-bottom: 10px;
}

.features-projects-grid p{   
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}

.features-projects-grid a{
    text-decoration: underline;
    color: darkslategray;
}

.image-grid{
    width: 100%;
    text-align: center;
}


/*OTHER WORK SECTION*/

.other-work{
    text-align: center;

}

.other-work-carrusel{
    margin: 0px 0px 100px 0px
}




/*FOOTER*/

footer{
    background-color: black;
    padding: 80px;
}

footer ul{
    padding: 0px;
}

footer nav ul li a{
    text-decoration: none;
    color: white;
}

footer nav ul li{
    display: inline-block;
    margin-right: 10px;
}

.logofooter{
    width: 32px;
}

/*PORTFOLIO*/

.portfolio-herotext{
    margin: 80px;
    text-align: center;
}

.portfolio-text p{
    padding: 0px 300px 0px 300px;
}

.grid-portfolio{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;   
}