/*1570*/
/*ABOUT ME*/

@media screen and (max-width:1570px){
    .more-info {
        flex-wrap: wrap;
        padding: 30px 249px 0px 80px;  
}
    div{
        .list-extra-info{
            margin-bottom: 40px;
        }
    }
    
}

/*1400*/
/*PROJECT PAGE*/
@media screen and (max-width:1400px){
    .project-overview{
        display:inline-block;
        text-align:center;
        .gif{
            width: 100%;
            margin-bottom: 40px;
        

        }
        .overview{
            width: 100%;
            padding: 0px;
            margin-bottom: 40px;       


        }

        .tools{
            width: 100%;
            padding: 0px;
            iframe{
                width: 700px;
                height: 400px;
            }

        }
        
    }

} 





/*1332*/
/*ABOUT ME*/
@media screen and (max-width:1332px){
    .more-info {        
        padding: 30px 153px 0px 80px

} 
}
    

/*HOME 1200px*/
/* NAV BAR 1200px */
@media screen and (max-width:1200px) {
    header{
        .navbar navbar-expand-lg{
            .container-fluid{
                .collapse navbar-collapse{
                    .navbar-nav {
                        font-size: 20px;
                        a{
                            .linkedin{
                                width: 46px;   
                            }

                        }
                        }

                }

            }
        }

    }
    

/*HERO SECTION 1200px*/    
    
    .hero-section
        .grid-hero-text{
            p{
                font-size: 20px;

        } 
            a{
            font-size: 18px;
        }  


    }    
    


/* FEATURES SECTION 1200px*/

    .features-projects-grid{
        padding: 80px 80px 80px 80px;
        grid-template-rows: max-content;
        grid-template-columns: 1fr; 
        .text-grid{
            h2{
                font-size: 16px;
            }
            p{
                font-size: 16px;
            }
            

        } 
    }      
    


    
/*PORTFOLIO PAGE 1200px*/

.portfolio-herotext{
    .portfolio-text{
        h2{
            font-size: 26px;
        }
        p{
            padding: 0px 50px 0px 50px;
            font-size: 20px;

        }
}

}    
    .grid-portfolio{  
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;   
}

/*ABOUT ME PAGE 1200px*/

.flex-container{
    .my-info {
        h1{
        line-height:70px;
        margin-bottom: 30px;   
    
    }
    
}
    

    .more-info{
        display: block;
        padding: 30px 80px 0px 80px ;
    }
}




/*CONTACT PAGE 1200px*/
    .content-flex{
        .info{
            h1{ 
                margin-bottom: 0px;
                line-height: 70px;
        }

        } 

    }
}


/*1050 PX*/
/*ABOUT ME PAGE*/
@media screen and (max-width:1050px){

    .flex-container{
        display: block;
        margin-bottom: 0px;
        padding-bottom: 0px;
        width: 100%;
        .photo{
            img{
                text-align: center;
                width: 100%;
                margin-bottom: 50px;
            }

        } 
        .my-info{
            padding-left: 0px;
            
        }
    }

    .more-info{
        display: block;
        div{
            .list-extra-info{
                margin-bottom: 30px;
            }

        }
    }

    .resume-container{
        margin-bottom: 40px;
    } 
}


/*991 PX*/
/* HOME*/
@media screen and (max-width:991px){

    .navbar-nav{
        text-align: center;
    }
    .linkedin{
        margin-bottom: 6px;
        margin-left: 0px;
    }

    .behance{
        margin-left: 0px;
    }

    .hero-section{
        padding-left: 80px;
    }

    /* PROJECT PAGE*/

    .projects-mockups{
        div{
            iframe{
                width: 500px;
                height: 400px ;

            }
        }

    }

    .project-overview{   
        .tools{
            padding: 0px;
            iframe{
                width: 350px;
                height: 200px;
            }

        }
        
    }

} 

/*850 PX*/
/* HOME*/
@media screen and (max-width:850px){

    .hero-section{
        display: block;
        grid-template-columns: 1fr;
        .grid-hero-text{
            margin-top: 40px;
    }
}    

    .other-work{
        font-size: 16px;
}

#carouselExampleSlidesOnly{
    display: none;
}

#carouselExampleSlides2{
    display: block;
}


/*850 PX*/
/* PORTFOLIO PAGE*/

.portfolio-herotext{
    margin: 50px;
}


.grid-portfolio{  
        grid-template-columns: 1fr;     
        row-gap: 10px;   
    }


/*850 PX*/
/*CONTACT PAGE*/

    .content-flex{
        display: block;
        .info{
            width: 100%;
    }
        .mb-3{
        width: 100%;
        margin-top: 40px;
    }
}


    

    /*PROJECTS PAGES*/

    .other-projects{
        display: block;
        div{
            margin-bottom: 30px;

        }
    }
}

/*678PX*/
/*HOME*/
@media screen and (max-width: 678px){

.hero-section{
    .grid-hero-image img{
        width: 300px;
    }

}

.hero-section{
    text-align: center;
}

.features-projects-grid{
    text-align: center;
    .image-grid{
        a {
            img{width: 400px;}
        
    }
}



}

/*643PX*/
/*ABOUT ME*/
@media screen and (max-width: 643px){

    .flex-container{
        padding: 30px 40px 0px 40px;
    }

    .more-info{
        padding: 30px 40px 0px 40px;
        .skills-container{
            .skill{
                padding: 8px 10px 8px 10px ;
            }

        }
    } 

    .resume-container{
        padding: 30px 40px 0px 40px;
    }

    /*FOOTER*/

    footer{
        padding: 30px 40px 30px 40px;

    }

    /*PROJECT PAGE*/        

    .projects-mockups{
        .image-grid img{
            width: 360px;
        }

    }
    
}

/*609PX*/
@media screen and (max-width: 609px){
/*NAV*/
header{    
    padding: 20px 40px 20px 40px;   
    
    }
/*ABOUT ME*/


    .skills-container{
        .skill{
            padding: 8px 8px 8px 8px ;
    }

    }
    
/*PROJECT PAGE*/

.project-name{
    padding: 30px 40px 40px 40px;
}

.projects-mockups{
    padding: 40px 40px 40px 40px;
    div{
        iframe{
            width: 300px;
            height: 200px;
        }
    }

}

.project-overview{
    padding: 0px 40px 40px 40px;
        
}


.other-projects{
        padding: 0px 40px 40px 40px;
    }
}


/*571PX*/
/*PORTFOLIO*/

@media screen and (max-width: 571px){   

    .portfolio-herotext{
        margin: 30px;
    }

/*HOME*/
footer{
    .footer-flex{
        display: block;
    }
    .linkedin-footer{
        margin-left: 0px;}

    .behance-footer{
            margin-left: 0px;}
    
    }

}

/*556PX*/
/*HOME*/

@media screen and (max-width: 556px){
    .features-projects-grid{
        .image-grid {
            a{
                img{
                width: 340px;
            }

            }
        }
        
        
    
    }


}


/*521PX*/
/*ABOUT ME*/
@media screen and (max-width: 521px){
    .more-info{
        .skills-container p{
            font-size: 12px ;
    
    }

    }

    .hero-section{
        padding-left: 40px;
        padding-right: 40px;

    }

    .features-projects-grid{
        padding-left: 40px;
        padding-right: 40px;
    }




}

/*494PX*/
/*HOME*/

@media screen and (max-width: 494px){
    .features-projects-grid{
        .image-grid {
            a{
                img{
                width: 300px;
            }

            }
        }
        
        
    
    }


}



/*446PX*/

@media screen and (max-width: 447px){


    h1{
        font-size: 50px;
    }


    footer nav ul li a{    
        font-size: 13px; 
    }   

/*HOME PAGE*/

.features-projects-grid{
    .image-grid {
        a{
            img{
            width: 250px;
        }

        }
    }
    
    

}


}
}