//! HOME PAGE 
.hero-section{
    @extend %grid-container;    
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    padding: 10px 80px 0px 90px;
    div{
        h1{
            font-size: 70px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
            margin-bottom: 20px; 
        }
        p{ 
            font-size: 18px;
            margin-bottom: 20px;
            line-height: 30px;

        }
        a{
            text-decoration: underline;
            color: $color-secundario;

        }
    }

    }

.grid-hero-text{
    margin-top: 85px;
    width: 100%;
    
    }
    a{
        &:hover{
            color: $color-terciario;
    }

    }


.grid-hero-image{
    width: 100%;
    height: 100%;
    text-align: center;

}

.features-projects-grid{
    @extend %grid-container;   
    @include grid(400px 400px 400px,1fr 1fr,40px,40px); 
    padding: 130px 80px 10px 90px; 
    .text-grid{
        width: 100%;
        h2{
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        h3{
            font-size: 25px;
            margin-bottom: 10px;

        }
        
        p{
            color: $color-terciario;
        font-size: 14px;
        margin-bottom: 20px;

        }
        a{
            text-decoration: underline;
            color: $color-secundario;
            &:hover{
                color: $color-terciario;
            }

        }
    }
    .image-grid{
        width: 100%;
        text-align: center;
        &:hover{
            filter: blur(5px)
        }   

        }

    }

    




.other-work{
    text-align: center;
    text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 20px;


}

.other-work-carrusel{
    margin: 0px 0px 100px 0px;

}


/*PORTFOLIO*/

.portfolio-herotext{
    margin: 80px;
    text-align: center;
    .portfolio-text{
        h2{
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 20px;

        }
        p{
            padding: 0px 300px 0px 300px;
    
        }

    }

}



.grid-portfolio{
    @extend %grid-container; 
    @include grid(max-content,1fr 1fr 1fr,10px,10px);   
        div{
            img{
                width: 100%;
                height: 100%;

            }
        }

}

.grid-image{
    &:hover{
        filter: opacity(.5)

    }

}



/*ABOUT ME*/

.flex-container{
    display: flex;
    padding: 30px 80px 40px 80px;
    margin-bottom: 50px;
    justify-content: space-between;
    .photo{
        width: fit-content;
        img{
            width: 500px;
        }
    }
    .my-info{
        width: 100%;
        padding-left: 50px;
        h1{
            font-size: 70px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
            margin-bottom: 20px; 

        }
        p{

        }
        .list-about-me{
            list-style: none;
            padding-left: 0px;
            font-weight: bold;
            margin-top: 50px;
            li{
                line-height: 26px;
            }
        }
    }
}

.more-info{
    display: flex;
    padding: 30px 80px 0px 80px;
    justify-content: space-between;
    div{
        h2{
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 20px;
            ul{
                li{

                }
            }
        }
    }
    div{
        h2{

        }
        .list-extra-info{
            list-style: none;
            padding-left: 0px;
            li{

            }

        }
    }
    .skills-container{
        display: flex;    
        align-items: center;
        .skill{
            display: block;
            color: $color-principal;
            border-radius: 28px;
            background-color: $color-secundario;
            padding: 8px 15px 8px 15px;
            margin: 0px 8px 8px 0px ;
            width: fit-content;

        }
    }
}


.resume-container{
    padding: 10px 80px 40px 80px;
    margin-bottom: 80px;
    .resume-button{ 
        text-decoration: underline;
        color: black;
        &:hover{
        color: $color-terciario;

    }

    }
    

}



/*CONTACT*/

.content-flex{
    display: flex;
    padding: 30px 80px 40px 80px;
    justify-content: space-between;
    align-items: center;
    .info{
        width: 40%;
        h1{
            font-size: 70px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
            margin-bottom: 20px; 

        }
        iframe{
            width: 100%;
            

        }
    }
    .mb-3{
        width: 50%;
        #exampleFormControlInput1{  
            margin-bottom: 10px;
        }
        .form-control{
            width: 70%;
            margin-bottom: 20px;

        }

    }
    
}


/*PROJECTS PAGES*/


.project-name{
    padding: 30px 80px 40px 80px;
    h1{
        font-size: 70px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        margin-bottom: 20px; 

    }
    h2{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
    }

}

.project-overview{
    padding: 30px 80px 40px 80px;
    margin-bottom: 40px;
    display:flex;
    justify-content: space-between;
    .overview{
        width: 30%;   
        padding: 60px;    
    }
    .tools{
        width: 60%;
        padding: 60px;

    }

    .gif{
        img{
            width: 300px;

        }              

        }
}


.projects-mockups{   
    padding: 40px 80px 40px 80px;   
    width: 100%;
    background-color: $color-secundario;
    text-align: center;
    
}



.title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 30px 80px 10px 80px; 
    
}


.other-projects{
    @extend %grid-container;
    padding: 10px 80px 60px 80px;  
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;     
    div{        
        .feature{
            width: 100%;
            height: 100%;
            &:hover{
                filter: blur(5px)
            }           
        

        }
        .feature-pending{
            width: 100%;
            height: 100%;

        }
    }

}
